/********* Base Styles ******/
* {
    box-sizing: border-box;
}

h1 {
    font-weight: bold;
    text-align: center;
}


.sectionBox {
    background-color: gray;
    float: left;
    border: 2px solid black;
}

.description {
    padding: 2%;
}

div > p {
    border: 1px solid black;
}


p {
    text-align: center;
    width: 25%;
    margin-left: auto;
    margin-top: auto;
}

#p1 {
    background-color: pink;
}

#p2 {
    background-color: maroon;
    color: white;
}

#p3 {
    background-color: yellow;
}



/********* Desktop Devices Only *******/
@media (min-width: 992px) {
    .col-lg-4 {
        width: 31%;
        margin: 1%;
    }
}


/*********** Tablet Devices Only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 48%;
        margin: 1%;
    }

    .col-md-12 {
        width: 98%;
        margin: 1%;
    }
}

/************* Mobile Devices Only **************/
@media (max-width: 767px ) {
    .col-xs-12 {
        width: 98%;
        margin: 1%;
    }
}